body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.position{
    width: 500px;
    height: 500px;
    background: aqua;
    position: relative ;
    bottom: 10px;
    left: 15px;
}
.parent{
    width: 250px;
    height: 250px;
    background: rgba(221, 236, 9, 0.788);
    position: absolute;
    right: 10px;
    bottom: 16px;
    
}
.childen{
    width: 125px;
    height: 125px;
    background: rgba(236, 9, 9, 0.788);
    position: absolute;
    right: 0px;
}

/*.position : thay đổi cha nhưng con vẫn dữ nguyên .......
        bản thân trình duyệt web là 1 position relative 
        1 static : là vị trí mặc định của trình duyệt 
        2 relative : 
        3 absolute : căn theo thuôc tính relative gần nhất và chứa nó 
        4 fixed : 
        top , left ,right ,botton(chỉ nhận thuộc tính 2 3 4)*/
.menu{
    width: 100%;
    background:yellow;
    height: 40px;
    position: relative;
}
.menu ul{
    display: flex;
    width: 70%;
    height: 100%;
    position: absolute;
    left: px;
    left: 12%;
    bottom: 0%;
    margin: 0%;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    width: 10%;
    text-align: center;
    list-style: none;
    /* display: block; */
    height: 100%;
    /* border-radius: 95% 5% 95% 5% / 70% 30% 70% 30%  ; */
    background-color: rgb(245, 3, 3);
    line-height: 250%;
    box-shadow: 5px 0px 6px 0px;
}
.menu ul::before{
    font: var(--fa-font-solid);
    content : "\e3af";
    font-size:25px ;
    margin-right: 10px;
}
.menu li:hover{
    border-bottom: 1px solid ;
    background-color: wheat;
    cursor: pointer;
}


